{% extends "title_base.html"  %}
{% block title  %}
{% load staticfiles %}
<link type="image/x-icon" rel="shortcut icon" href="{% static "favicon.ico" %}"/>
<link type="text/css" rel="stylesheet" href="{% static "css/common.css" %}"/>
<link type="text/css" rel="stylesheet" href="{% static "css/index.css" %}"/>
</head>
<body class="index">
    <div class="header">
        <a href="/" class="logo" title="首页">
            <img src="{% static "image/logo.png" %}" alt="我的音乐">
        </a>
        <div class="search-box">
            <form action="{% url 'search' 1 %}" id="searchForm" method="post" target="_blank">
                {% csrf_token %}
                <div class="search-keyword">
                    <input name="kword" type="text" class="keyword" maxlength="120" placeholder="音乐节" />
                </div>
                <input type="submit" id="subSerch" class="search-button" value="搜索">
            </form>
            <div id="suggest" class="search-suggest"></div>
            <div class="search-hot-words">
                {% for song in search_song %}
                    <a href="xxx" target="xxx">{{song.song.song_name}}</a>
                {% endfor %}
            </div>
        </div>
    </div>
    <script data-main="{% static "js/index.js" %}" src="{% static "js/require.js" %}"></script>
    {% endblock  %}

